body
{
  background-size: 1400px;
  padding: 0;
  margin: 0;
  text-align: center;
}


header
{
  background-color: darkolivegreen;
  padding: 15px;
  box-shadow: 0 0 3px; color: black;
  height: 60px;
}


header li 
{
  font-size: 25px;
  display: inline; 
  text-align: center;
  padding-left: 35px;
  text-decoration: none;
  color: darkblue;
}

header li a 
{
  color: white;
  font-family: times new roman;
  text-decoration: none;
  padding: 15px;
  margin-top: -10px;
}

header li a:hover
{
  color: brown;
  text-decoration: none;
  padding: 15px;
}